/test_spleeter/pretrained_models/*
/.venv/*
/beat_track/*
/mashup/__pycache__/
/mashup/input/*
/mashup/output/*
/mashup/separated/*
/automix-toolkit/automix_toolkit.egg-info
/automix-toolkit/notebooks/.ipynb_checkpoints
/automix-toolkit/notebooks/checkpoints