/beat_track/*

/automashup-app/__pycache__/
/automashup-app/input/*
/automashup-app/output/*
/automashup-app/separated/*
/automashup-app/struct/*

/automashup-notebook/output.wav
/automashup-notebook/input/*
/automashup-notebook/output/*
/automashup-notebook/separated/*
/automashup-notebook/struct/*
