allin1==1.1.0
barfi==0.7.0
matplotlib
demucs==4.0.1
essentia==2.1b6.dev1110
librosa==0.9.2
matplotlib==3.7.0
numpy==1.23.5
soundfile==0.12.1
streamlit
torch==2.0
pandas
pymusickit
streamlit-on-Hover-tabs